* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #444;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.top-header {
  border-bottom: 5px solid rgba(16, 152, 173, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
}

nav {
  font-size: 14px;
}

nav a:link {
  margin-left: 20px;
}

footer {
  margin-top: 20px;
}

h2 {
  /* margin-bottom: 15px; */
  /* margin-top: 15px; */
  padding-top: 15px;
  padding-bottom: 15px;
  color: #1098ad;
  font-size: 2em;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  /* text-align: justify; */
  /* text-justify: inter-word; */
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

img {
  border-radius: 5px;
}

.logo {
  width: 250px;
  height: auto;
}

.rolam {
  display: grid;
  grid-template-columns: 1fr auto;
  /* column-gap: 20px; */
  row-gap: 40px;
  /* margin-bottom: 0px; */
  /* align-items: center; */
  padding: 10px;
  margin: 14px auto;
}

.rolam-top {
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: rgba(16, 152, 173, 0.3);
  border-radius: 5px;
  padding: 12px 48px 12px 64px;
}

.rolam-bottom {
  grid-column: 1 / -1;
}

.boldy {
  font-weight: bold;
}

.line-h {
  line-height: 1.5;
}

.whity {
  color: #fff;
}

.izuka {
  width: 120px;
  height: auto;
  transform: scale(1.5);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.logopedia-left {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 60px;
  line-height: 1.5;
}

.logopedia-right {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 30px;
  gap: 60px;
  line-height: 1.5;
}

.nyelvlokes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.nyelvlokes-top {
  grid-column: 1 / -1;
}

.nyelvlokes-mid {
  padding: 20px;
  border-radius: 80px;
  text-align: center;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.nyelvlokes-bottom {
  grid-column: 1 / -1;
}

.icon {
  stroke: #10ad95;
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.icon-small {
  stroke: #1098ad;
  width: 20px;
  height: 20px;
}

.kislany {
  width: 440px;
  height: auto;
  padding: 0 30px 30px 30px;
}

.quote {
  font-style: italic;
  margin-bottom: 0px;
}

.quote-top {
  padding: 10px;
  /* background-color: rgba(16, 152, 173, 0.2); */
  border-radius: 10px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.rolammondtak {
  display: grid;
  grid-template-columns: 2.3fr 1.2fr 1.9fr;
  column-gap: 10px;
}

.elerhetoseg-foot {
  /* background-color: rgba(16, 152, 173, 0.2); */
  border-radius: 30px;
  padding: 20px;
  display: inline-block;
  margin-top: 0px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.elerhetoseg {
  /* background-color: rgba(16, 152, 173, 0.2); */
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 10px;
}

#elerhetoseg {
  margin-top: 0px;
}

.abovecopyright {
  border-bottom: 5px solid rgba(16, 152, 173, 0.3);
  border-radius: 10px;
  height: 20px;
}

.tel,
.web,
.email,
.nev {
  font-size: 20px;
}

.lastp {
  margin-bottom: 0px;
}
